extends ../layouts/common.pug
block header
    h2.container Create new User
    .container.bg-light.p-5
        
        form(action="/users/create", method="POST").d-flex
            .input-group
                span.input-group-addon.px-3.pt-2.bg-warning.d-flex Name: 
                input(tyoe="text",name="name").form-control
                button.btn.btn-primary.text-light Create