extends ../layouts/common.pug
block header
    h2.p-3.container Update User:
    .container.bg-light.d-flex.justify-content-center
    
       
        form(action="/users/update" method="POST").py-3
            p User ID: &nbsp
                input(value=user.id, name="id" type='text' readonly).form-control
            p Name: &nbsp
                input(value=user.name, name="name" type='text').form-control
            button.btn.btn-primary
                a(href="/users").text-light Back
            span &nbsp
            span &nbsp
            button.btn.btn-success.text-light Update