extends ../layouts/common.pug
block header
    .container.bg-light
        h1 List Users
        .row
            .col.col-sm
                a(href="/users").text-light.btn.btn-primary  Back to users List
            .col.col-sm
                a(href="/users/create").text-light.btn.btn-danger Create new user
        .row.pt-5.mt-5
            .col.col-lg-12
                form(action="/users/search", method="GET")
                     .input-group
                        span.input-group-addon.px-3.pt-1 Search Name   
                        input( type="text",name="q").form-control.input-sm
                        button.btn.btn-outline-primary search  

        //- ul
        //-     each user in users
        //-         li 
        //-             span= user.name
        //-             a(href="/view/"+user.id)
        //-                 span &nbsp view
        //-             a(href="/edit/"+user.id)  
        //-                 span &nbsp edit
        //-             a(href="/delete/"+user.id)
        //-                 span &nbsp delelte

        
        
        table.table.container.table-responsive-sm.table-hover
            thead.thead-light
                tr
                    th ID
                    th Name
                    th View
                    th Edit
                    th Delete
            each user2 in users
                tr         
                    td #{user2.id}
                    td #{user2.name}
                    td
                        a(href="/users/view/"+user2.id).text-light.btn.btn-primary View user
                    td
                        a(href="/users//edit/"+user2.id).text-light.btn.btn-warning Edit user
                    td
                        a(href="/users/delete/"+user2.id).text-light.btn.btn-danger Delete user