extends ../layouts/common.pug
block header

     
    .container.p-5.bg-light
        h1 View Detail:
     

        p 
            b User ID: &nbsp
            span= user.id
        p 
            b Name: &nbsp
            span= user.name
        a(href="/users").text-light.btn.btn-primary Back